.about-container {
	max-width: 95%;
    border: 2px solid #FF9E00;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.about-header {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 100px;
    line-height: 1;
    color: #747474;
    width: 76%;
    display: inline-block;
}

.about-header.right {
	text-align: right;
	float: right;
}

.about-information {
  font-size: 14px;
  padding: 10px;
  border-right: 1px solid #FF9E00;
  float: left;
  width: 14.2vw;
  height: auto;
}

.about-information.last {
	border-right: none;
}

.about-ul {
	padding-bottom: 70px;
  position: relative;
    top: -29px;
}

@media screen and (min-width:801px) and  (max-width:1300px) {
 .about-information {
  width: 13.5vw;
}

}