@font-face {
  font-family: 'Noe Display Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Noe Display Bold.woff'); /* IE9 Compat Modes */
  src: local('Noe Display Bold'), local('Noe Display Bold'),
  		url('./fonts/Noe Display Bold.eot') format('embedded-opentype'),
       url('./fonts/Noe Display Bold.woff') format('woff'), /* Modern Browsers */
}


.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.social-description {
	margin-left: 30px;
	color: #FFCAB6;
}